@font-face {
    font-family: PingFangSc;
    src: 
        url('../font/PingFangSC.ttf') format('PingFangSC');
}
@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('../font/iconfont.ttf?t=1624779927377') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#333;
  }
  
  .icon-cha1:before {
    content: "\e633";
  }
  
  